In [21]:
import pandas as pd

df = pd.read_csv("student.csv")
print(df)

    student_id first_name  last_name  age  grade
0            1       John        Doe   18     12
1            2       Jane      Smith   17     11
2            3    Michael    Johnson   16     10
3            4      Emily   Williams   18     12
4            5     Robert      Brown   17     11
5            6      Sarah     Miller   16     10
6            7    William      Jones   18     12
7            8     Olivia      Davis   17     11
8            9      James     Garcia   16     10
9           10  Elizabeth  Rodriguez   18     12
10          11  Alexander   Martinez   17     11
11          12     Sophia  Hernandez   16     10
12          13   Benjamin      Lopez   18     12
13          14   Isabella   Gonzalez   17     11
14          15      Mason     Wilson   16     10
15          16     Evelyn   Anderson   18     12
16          17       Liam     Thomas   17     11
17          18        Ava     Taylor   16     10
18          19      Ethan      Moore   18     12
19          20        Mia    Jackson   17     11
20          21      Lucas     Martin   16     10
21          22  Charlotte   Thompson   18     12
22          23        NaN        NaN   17     11
23          24     Amelia     Harris   16     10
24          25      Jacob      Clark   18     12

In [22]:
print(len(df))

25

In [23]:
print(df.shape)

(25, 5)

In [25]:
print(df.columns.tolist())

['student_id', 'first_name', 'last_name', 'age', 'grade']

In [26]:
print(df.isnull().sum())

student_id    0
first_name    1
last_name     1
age           0
grade         0
dtype: int64

In [27]:
# print(df.isnull())
print(df.ndim)

2

In [28]:
# print(df)
# Remove Rows with Any Missing Values (Default Behavior) dropna()
df1 = df.dropna()
print(df1)

    student_id first_name  last_name  age  grade
0            1       John        Doe   18     12
1            2       Jane      Smith   17     11
2            3    Michael    Johnson   16     10
3            4      Emily   Williams   18     12
4            5     Robert      Brown   17     11
5            6      Sarah     Miller   16     10
6            7    William      Jones   18     12
7            8     Olivia      Davis   17     11
8            9      James     Garcia   16     10
9           10  Elizabeth  Rodriguez   18     12
10          11  Alexander   Martinez   17     11
11          12     Sophia  Hernandez   16     10
12          13   Benjamin      Lopez   18     12
13          14   Isabella   Gonzalez   17     11
14          15      Mason     Wilson   16     10
15          16     Evelyn   Anderson   18     12
16          17       Liam     Thomas   17     11
17          18        Ava     Taylor   16     10
18          19      Ethan      Moore   18     12
19          20        Mia    Jackson   17     11
20          21      Lucas     Martin   16     10
21          22  Charlotte   Thompson   18     12
23          24     Amelia     Harris   16     10
24          25      Jacob      Clark   18     12

In [29]:
# df.dropna(axis=1, how='all',inplace=True)
df.dropna(axis=1)
print(df)

    student_id first_name  last_name  age  grade
0            1       John        Doe   18     12
1            2       Jane      Smith   17     11
2            3    Michael    Johnson   16     10
3            4      Emily   Williams   18     12
4            5     Robert      Brown   17     11
5            6      Sarah     Miller   16     10
6            7    William      Jones   18     12
7            8     Olivia      Davis   17     11
8            9      James     Garcia   16     10
9           10  Elizabeth  Rodriguez   18     12
10          11  Alexander   Martinez   17     11
11          12     Sophia  Hernandez   16     10
12          13   Benjamin      Lopez   18     12
13          14   Isabella   Gonzalez   17     11
14          15      Mason     Wilson   16     10
15          16     Evelyn   Anderson   18     12
16          17       Liam     Thomas   17     11
17          18        Ava     Taylor   16     10
18          19      Ethan      Moore   18     12
19          20        Mia    Jackson   17     11
20          21      Lucas     Martin   16     10
21          22  Charlotte   Thompson   18     12
22          23        NaN        NaN   17     11
23          24     Amelia     Harris   16     10
24          25      Jacob      Clark   18     12

# Fill Null Values with another value

In [9]:
df.fillna(0,inplace=True)
print(df)

NameError: name 'df' is not defined

# Drop Duplicate rows from dataframe

In [12]:
df.drop_duplicates()

NameError: name 'df' is not defined