In [1]:
import pandas as pd

df = pd.read_csv("match.csv")
print(df)

       Unnamed: 0      gameId  season         role    lane  \
0               0  4260630568      13  DUO_SUPPORT  BOTTOM
1               1  4260452798      13          DUO     TOP
2               2  4260353406      13         SOLO     MID
3               3  4260272376      13         SOLO     TOP
4               4  4260082928      13         SOLO     MID
...           ...         ...     ...          ...     ...
29995          95  4222879292      13  DUO_SUPPORT  BOTTOM
29996          96  4222613796      13  DUO_SUPPORT  BOTTOM
29997          97  4222481428      13          DUO    NONE
29998          98  4221929785      13    DUO_CARRY  BOTTOM
29999          99  4221027646      13  DUO_SUPPORT    NONE

                                             accountId
0      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
1      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
2      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
3      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
4      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
...                                                ...
29995     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29996     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29997     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29998     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29999     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg

[30000 rows x 6 columns]

In [2]:
print(len(df))

30000

In [3]:
print(df.shape)

(30000, 6)

In [4]:
print(df.columns.tolist())

['Unnamed: 0', 'gameId', 'season', 'role', 'lane', 'accountId']

In [5]:
print(df.isnull().sum())

Unnamed: 0    0
gameId        0
season        0
role          0
lane          0
accountId     0
dtype: int64

In [6]:
print(df.ndim)

2

In [7]:
df1 = df.dropna()
print(df1)

       Unnamed: 0      gameId  season         role    lane  \
0               0  4260630568      13  DUO_SUPPORT  BOTTOM
1               1  4260452798      13          DUO     TOP
2               2  4260353406      13         SOLO     MID
3               3  4260272376      13         SOLO     TOP
4               4  4260082928      13         SOLO     MID
...           ...         ...     ...          ...     ...
29995          95  4222879292      13  DUO_SUPPORT  BOTTOM
29996          96  4222613796      13  DUO_SUPPORT  BOTTOM
29997          97  4222481428      13          DUO    NONE
29998          98  4221929785      13    DUO_CARRY  BOTTOM
29999          99  4221027646      13  DUO_SUPPORT    NONE

                                             accountId
0      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
1      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
2      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
3      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
4      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
...                                                ...
29995     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29996     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29997     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29998     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29999     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg

[30000 rows x 6 columns]

In [8]:
df.dropna(axis=1)
print(df)

       Unnamed: 0      gameId  season         role    lane  \
0               0  4260630568      13  DUO_SUPPORT  BOTTOM
1               1  4260452798      13          DUO     TOP
2               2  4260353406      13         SOLO     MID
3               3  4260272376      13         SOLO     TOP
4               4  4260082928      13         SOLO     MID
...           ...         ...     ...          ...     ...
29995          95  4222879292      13  DUO_SUPPORT  BOTTOM
29996          96  4222613796      13  DUO_SUPPORT  BOTTOM
29997          97  4222481428      13          DUO    NONE
29998          98  4221929785      13    DUO_CARRY  BOTTOM
29999          99  4221027646      13  DUO_SUPPORT    NONE

                                             accountId
0      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
1      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
2      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
3      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
4      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
...                                                ...
29995     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29996     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29997     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29998     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29999     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg

[30000 rows x 6 columns]

In [9]:
df.fillna(0,inplace=True)
print(df)

       Unnamed: 0      gameId  season         role    lane  \
0               0  4260630568      13  DUO_SUPPORT  BOTTOM
1               1  4260452798      13          DUO     TOP
2               2  4260353406      13         SOLO     MID
3               3  4260272376      13         SOLO     TOP
4               4  4260082928      13         SOLO     MID
...           ...         ...     ...          ...     ...
29995          95  4222879292      13  DUO_SUPPORT  BOTTOM
29996          96  4222613796      13  DUO_SUPPORT  BOTTOM
29997          97  4222481428      13          DUO    NONE
29998          98  4221929785      13    DUO_CARRY  BOTTOM
29999          99  4221027646      13  DUO_SUPPORT    NONE

                                             accountId
0      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
1      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
2      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
3      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
4      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
...                                                ...
29995     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29996     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29997     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29998     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29999     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg

[30000 rows x 6 columns]

In [10]:
df.drop_duplicates()

,Unnamed: 0,gameId,season,role,lane,accountId
0,0,4260630568,13,DUO_SUPPORT,BOTTOM,IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
1,1,4260452798,13,DUO,TOP,IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
2,2,4260353406,13,SOLO,MID,IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
3,3,4260272376,13,SOLO,TOP,IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
4,4,4260082928,13,SOLO,MID,IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
...,...,...,...,...,...,...
29995,95,4222879292,13,DUO_SUPPORT,BOTTOM,N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29996,96,4222613796,13,DUO_SUPPORT,BOTTOM,N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29997,97,4222481428,13,DUO,NONE,N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29998,98,4221929785,13,DUO_CARRY,BOTTOM,N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29999,99,4221027646,13,DUO_SUPPORT,NONE,N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg

In [14]:
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3, 4), columns=['Unnamed', 'gameId', 'season', 'role'])
new_df = df.drop(['season'], axis=1)
new_df

   Unnamed  gameId  role
0        0       1     3
1        4       5     7
2        8       9    11

In [15]:
df = pd.read_csv("match.csv")
print(df)

       Unnamed: 0      gameId  season         role    lane  \
0               0  4260630568      13  DUO_SUPPORT  BOTTOM
1               1  4260452798      13          DUO     TOP
2               2  4260353406      13         SOLO     MID
3               3  4260272376      13         SOLO     TOP
4               4  4260082928      13         SOLO     MID
...           ...         ...     ...          ...     ...
29995          95  4222879292      13  DUO_SUPPORT  BOTTOM
29996          96  4222613796      13  DUO_SUPPORT  BOTTOM
29997          97  4222481428      13          DUO    NONE
29998          98  4221929785      13    DUO_CARRY  BOTTOM
29999          99  4221027646      13  DUO_SUPPORT    NONE

                                             accountId
0      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
1      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
2      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
3      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
4      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
...                                                ...
29995     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29996     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29997     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29998     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29999     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg

[30000 rows x 6 columns]

In [18]:
print(len(df))
print(df.shape)
print(df.columns.tolist())
print(df.isnull().sum())

30000
(30000, 6)
['Unnamed: 0', 'gameId', 'season', 'role', 'lane', 'accountId']
Unnamed: 0    0
gameId        0
season        0
role          0
lane          0
accountId     0
dtype: int64
       Unnamed: 0      gameId  season         role    lane  \
0               0  4260630568      13  DUO_SUPPORT  BOTTOM
1               1  4260452798      13          DUO     TOP
2               2  4260353406      13         SOLO     MID
3               3  4260272376      13         SOLO     TOP
4               4  4260082928      13         SOLO     MID
...           ...         ...     ...          ...     ...
29995          95  4222879292      13  DUO_SUPPORT  BOTTOM
29996          96  4222613796      13  DUO_SUPPORT  BOTTOM
29997          97  4222481428      13          DUO    NONE
29998          98  4221929785      13    DUO_CARRY  BOTTOM
29999          99  4221027646      13  DUO_SUPPORT    NONE

                                             accountId
0      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
1      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
2      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
3      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
4      IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
...                                                ...
29995     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29996     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29997     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29998     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
29999     N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg

[30000 rows x 6 columns]